{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>
    <!-- <h1>Hello, world!</h1> -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <a class="navbar-brand" href="#">Assignment Help</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Messages</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Payments</a>
                </li>
            </ul>
            
            <form class="form-inline my-2 my-lg-0">
                <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search"> -->
                <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right:20px;"><span class="glyphicon glyphicon-user"></span>{{username}}</button>
                <a href="/logout" class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</a>
            </form>
        </div>
    </nav>

    <!-- Form -->
    <form class="row form" method="POST" >
        <div class="col-md-1">
            {% csrf_token %}
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading" align="center">Project Details</div>
                <table class="table table-bordered" style="text-align:center !important">
                    <tbody>
                        <tr>
                            <td>Subject</td>
                            <td>{{form.subject}}</td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>
                                {{form.title}}
                            </td>
                        </tr>
                        <tr>
                            <td>Deadline</td>
                            <td>{{form.deadline}}</td>
                        </tr>
                        <tr>
                            <td>Budget</td>
                            <td>
                                {{form.budget}}
                            </td>
                        </tr>
                        <tr height="100px">
                            <td>Details</td>
                            <td>
                               <div>{{form.details}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <div class="form-actions" align="center">
                <input value="Submit" class="form-btn" type="submit"> 
            </div>
            </div>

        </div>
        {% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %}
						<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
						</div>
					{% endfor %}
				{% endfor %}
				{% for error in form.non_field_errors %}
					<div class="alert alert-danger">
						<strong>{{ error|escape }}</strong>
					</div>
				{% endfor %}
		{% endif %}
    </form>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
</body>

</html>
