{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> 
<!--<![endif]-->
<head>

	    <!-- ==============================================
		Title and Meta Tags
		=============================================== -->
		<meta charset="utf-8">
        <title>Assignments Help</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Add your business website description here">
        <meta name="keywords" content="Add your, business, website, keywords, here">
        <meta name="author" content="Add your business, website, author here">
		
		<!-- ==============================================
		 Favicons
		=============================================== --> 
		<link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}">
		<link rel="apple-touch-icon" href="{% static 'img/favicons/apple-touch-icon.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-touch-icon-72x72.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-touch-icon-114x114.png' %}">
		
	    <!-- ==============================================
		CSS
		=============================================== -->
        <!-- Style-->
    	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" /> 
        		
		<!-- ==============================================
		Feauture Detection
		=============================================== -->
		 <script src="{% static 'js/modernizr-custom.js' %}"></script> 
		
		<!--[if lt IE 9]>
		 <script src="{% static 'http://html5shim.googlecode.com/svn/trunk/html5.js' %}"></script>
		<![endif]-->		
		
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
       <!-- Brand and toggle get grouped for better mobile display -->
	   <a class="navbar-brand"><i class="fa fa-coffee"></i> Assignments Help</a>
       <input type="checkbox" id="toggle" />
	   <label for="toggle" class="toggle"></label>

       <!-- Collect the nav links, forms, and other content for toggling -->
		<ul class="menu">
         <li><a href="/">Home</b></a></li> 
         <li><a href="login">Login</b></a></li> 
         <li><a href="register">Register</b></a></li> 
		 <!-- <li><?= $this->Html->link(__('Login'), ['action' => 'login']) ?></li>	
		 <li><?= $this->Html->link(__('Register'), ['action' => 'register1']) ?></li> !-->
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutor <b class="caret"></b></a> 
		  <ul class="dropdown-menu">
            <li><a href="login">Login</b></a></li> 
            <li><a href="register_tutor">Register</b></a></li>
		   <!-- <li><?= $this->Html->link(__('Login'), ['action' => 'login']) ?></li> -->
		   <!-- <li><?= $this->Html->link(__('Register'), ['action' => 'register2']) ?></li> -->
		  </ul>
		 </li> 
		 <li><a href="/about">About</a></li>
		 <!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><?= $this->Html->link(__('Jobs'), ['action' => 'jobs']) ?></li>
		   <li><?= $this->Html->link(__('Job Post'), ['action' => 'jobpost']) ?></li>
		  </ul>
		 </li>    
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Freelancers <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><?= $this->Html->link(__('Services'), ['action' => 'services']) ?></li>
		   <li><?= $this->Html->link(__('Service Page'), ['action' => 'servicepage']) ?></li>
		   <li><?= $this->Html->link(__('FreeLancer Profile'), ['action' => 'freelancer']) ?></li>
		  </ul>
		 </li> 
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">How it works <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><?= $this->Html->link(__('How #1'), ['action' => 'how-1']) ?></li>
		   <li><?= $this->Html->link(__('How #2'), ['action' => 'how-2']) ?></li>
		  </ul>
		 </li> 
		
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Register <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><?= $this->Html->link(__('Sign Up'), ['action' => 'signup']) ?></li>
		   <li><?= $this->Html->link(__('Register'), ['action' => 'register']) ?></li>
		  </ul>
		 </li> 
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		    <li><?= $this->Html->link(__('Contact'), ['action' => 'contact']) ?></li>
			<li><?= $this->Html->link(__('Blog'), ['action' => 'blog']) ?></li>
			<li><?= $this->Html->link(__('Blog Page'), ['action' => 'blogpage']) ?></li>
			<li><?= $this->Html->link(__('FAQ'), ['action' => 'faq']) ?></li>
		  </ul>
		 </li> 	 -->
		</ul><!-- /.ul.menu -->
      </div><!-- /.container -->
     </nav><!-- /.nav -->
	 
     <!-- ==============================================
	 Header
	 =============================================== -->	 
	 <header class="header-one">
      <div class="container">
	   <div class="content">
	   
        <div class="row">
		 <h1 class="name revealOnScroll" data-animation="fadeInDown"><i class="fa fa-coffee"></i> The Kafe.</h1>
		 <p class="temp">The Ultimate Freelance Marketplace Template</p>
         <h1 class="hire revealOnScroll" data-animation="fadeInUp" data-timeout="400">Hire the best freelancers for your work.</h1>
	     <div class="form-row">
		  <div class="radio radio-left">
		   <a href="register2">Tutor</a>		  
		  </div>
		  <div class="radio radio-right">
		   <a href="register1">Student</a>		  
		  </div><!--./radio -->
	 	 </div><!--./form-row -->
        </div><!--./row -->
		
		<div class="row">
		 <div class="col-lg-10 col-lg-offset-1 hidden-xs">
		  <div class="logos">
		   <img src="{% static 'img/featured-logos.png' %}" class="img-responsive" alt=""/>		  </div>
		  <!--./logos -->
		 </div>
		 <!--./col-lg-10 -->
		</div><!--./row --> 
		
       </div><!--./content -->
	  </div><!--./container -->
     </header><!--./header -->
	 
	 
	 <!-- ==============================================
	 Freelance Services Section
	 =============================================== -->
     <section id="services" class="services">
	  <div class="container text-center">
	  
	   <div class="row">
	    <div class="col-lg-12">
		 <h3>Browse Freelance Services</h3>
		 <hr class="mint">
		 <p class="top-p">View over 30,000 available services by category.</p>
		 
		 <div class="col-lg-4 col-md-4 col-sm-6">
		  <a href="services.html" class="hover">
		   <div class="features one">
		    <span class="fa-stack fa-3x">
			 <i class="fa fa-circle fa-stack-2x"></i>
			 <i class="fa fa-code fa-stack-1x fa-inverse"></i>			
			</span><!-- /span -->
			<h4>Web Development & IT</h4>
		   </div><!-- /.features -->
		   <div class="spacer">
			<p>Designer, Developer, Project Management, Front-End Developer.</p>
			<p><b>Over 2,000 services</b></p>
		   </div> <!-- /.spacer -->
		  </a>		 
		 </div><!-- /.col-lg-4 -->
		 
		 <div class="col-lg-4 col-md-4 col-sm-6">
		  <a href="services.html">
		   <div class="features two">
		    <span class="fa-stack fa-3x">
			 <i class="fa fa-circle fa-stack-2x"></i>
			 <i class="fa fa-eye fa-stack-1x fa-inverse"></i>			
			</span><!-- /span -->
			<h4>Design, Art & Multimedia</h4>
		   </div><!-- /.features -->
		   <div class="spacer">
			<p>Design, Logo Design, Animation, Graphic Design, 3D, Adobe photoshop.</p>
			<p><b>Over 2,000 services</b></p>
		   </div> <!-- /.spacer -->
		  </a>		 
		 </div><!-- /.col-lg-4 -->
		 
		 <div class="col-lg-4 col-md-4 col-sm-6">
		  <a href="services.html">
		   <div class="features three">
		    <span class="fa-stack fa-3x">
			 <i class="fa fa-circle fa-stack-2x"></i>
			 <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>			
			</span><!-- /span -->
			<h4>Writing & Translation</h4>
		   </div><!-- /.features -->
		   <div class="spacer">
			<p>Content Writing, English Translation, Articles, SEO, Translation, Research.</p>
			<p><b>Over 2,000 services</b></p>
		   </div> <!-- /.spacer -->
		  </a>		 
		 </div><!-- /.col-lg-4 -->
		  
		 </div><!-- /.col-lg-12 -->
		</div><!-- /.row -->
		
		<div class="row">
		<div class="col-lg-12">
		
		  <div class="col-lg-4 col-md-4 col-sm-6">
		  <a href="services.html">
		   <div class="features four">
		    <span class="fa-stack fa-3x">
			 <i class="fa fa-circle fa-stack-2x"></i>
			 <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>			
			</span><!-- /span -->
			<h4>Admin Support</h4>
		   </div><!-- /.features -->
		   <div class="spacer">
			<p>Data Entry, English, Excel, Customer Service, Admin Support, Research, Email.</p>
			<p><b>Over 2,000 services</b></p>
		   </div> <!-- /.spacer -->
		  </a>		 
		 </div><!-- /.col-lg-4 -->
		 
		 <div class="col-lg-4 col-md-4 col-sm-6">
		  <a href="services.html">
		   <div class="features five">
		    <span class="fa-stack fa-3x">
			 <i class="fa fa-circle fa-stack-2x"></i>
			 <i class="fa fa-table fa-stack-1x fa-inverse"></i>			
			</span><!-- /span -->
			<h4>Management & Finance</h4>
		   </div><!-- /.features -->
		   <div class="spacer">
			<p>Finance, Accounting, Tax Service, Payroll Manager, Book Keeper, Human Resource.</p>
			<p><b>Over 2,000 services</b></p>
		   </div> <!-- /.spacer -->
		  </a>		 
		 </div><!-- /.col-lg-4 -->
		 
		 <div class="col-lg-4 col-md-4 col-sm-6">
		  <a href="services.html">
		   <div class="features six">
		    <span class="fa-stack fa-3x">
			 <i class="fa fa-circle fa-stack-2x"></i>
			 <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>			
			</span><!-- /span -->
			<h4>Sales & Marketing</h4>
		   </div><!-- /.features -->
		   <div class="spacer">
			<p>Sales, Marketing, Lead Generation, Market Research, Leads.</p>
			<p><b>Over 2,000 services</b></p>
		   </div> <!-- /.spacer -->
		  </a>		 
		  </div><!-- /.col-lg-4 -->
		  
		 </div><!-- /.col-lg-12 -->
		</div><!-- /.row -->
		
		<div class="row">
		<div class="col-lg-12">
		 
		 
		 <div class="col-lg-4 col-md-4 col-sm-6">
		  <a href="services.html">
		   <div class="features seven">
		    <span class="fa-stack fa-3x">
			 <i class="fa fa-circle fa-stack-2x"></i>
			 <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>			
			</span><!-- /span -->
			<h4>Engineering & Architecture</h4>
		   </div><!-- /.features -->
		   <div class="spacer">
			<p>Design, Architect, 3D, CAD, Engineering, Matlab, Electrical, Software.</p>
			<p><b>Over 2,000 services</b></p>
		   </div> <!-- /.spacer -->
		  </a>		 
		  </div><!-- /.col-lg-4 -->
		 
		  <div class="col-lg-4 col-md-4 col-sm-6">
		  <a href="services.html">
		   <div class="features eight">
		    <span class="fa-stack fa-3x">
			 <i class="fa fa-circle fa-stack-2x"></i>
			 <i class="fa fa-legal fa-stack-1x fa-inverse"></i>			
			</span><!-- /span -->
			<h4>Legal</h4>
		   </div><!-- /.features -->
		   <div class="spacer">
			<p>Legal, Paralegal, Contracts, Drafting, Legal Advice, Patents, Federal Law.</p>
			<p><b>Over 2,000 services</b></p>
		   </div> <!-- /.spacer -->
		  </a>		 
		  </div><!-- /.col-lg-4 -->
		  
		 </div><!-- /.col-lg-12 -->
		</div><!-- /.row -->

	  </div><!-- /.container -->
	 </section><!-- /section -->

     <!-- ==============================================
     Banner Section
     =============================================== -->
	 <section class="banner-comment">
	  <div class="container">
	   <h1>Best way to help world society is to develop a concrete framework for high paying jobs and individual skills enhancements.</h1>
	  </div><!-- /container -->
	 </section><!-- /section -->	  

     <!-- ==============================================
	 Stats Section
	 =============================================== -->	
	 <section id="stats" class="stats">
	  <div class="container text-center">
		
	   <div class="row">
				
		<div class="col-lg-3 col-sm-6 pro">
		 <h5>Clients</h5>
		 <h1><span class="number-animator" data-value="505" data-animation-duration="800">0</span></h1>
		  <div class="progress transparent progress-small no-radius">
		   <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="45%" ></div>
		  </div><!-- /.progress -->
		</div><!-- /.col-lg-3 -->
				
		<div class="col-lg-3 col-sm-6 pro">
		 <h5>Freelancers</h5>					
		 <h1><span class="number-animator" data-value="4500" data-animation-duration="800">0</span></h1>
		  <div class="progress transparent progress-small no-radius">
		   <div class="progress-bar progress-bar-black animated-progress-bar " data-percentage="79%"></div>
		  </div><!-- /.progress -->
		</div><!-- /.col-lg-3 -->
				
		<div class="col-lg-3 col-sm-6 pro">
		 <h5>Jobs Completed</h5>
		 <h1><span class="number-animator" data-value="14000" data-animation-duration="800">0</span></h1>
		  <div class="progress transparent progress-small no-radius">
		   <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="85%"></div>
		  </div><!-- /.progress -->
		</div><!-- /.col-lg-3 -->

	   	<div class="col-lg-3 col-sm-6 pro">
		 <h5>Payed To Freelancers</h5>
		 <h1><i class="fa fa-usd"></i><span class="number-animator" data-value="500K" data-animation-duration="800">0</span></h1>
		  <div class="progress transparent progress-small no-radius">
		   <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="85%"></div>
		  </div><!-- /.progress -->
		</div><!-- /.col-lg-3 -->
				
	   </div><!-- /.row -->
	  </div><!-- /.container -->
     </section><!-- /section -->
	  
     <!-- ==============================================
	 Testimonials Section
	 =============================================== -->	
     <div id="testimonials">
	  <div class="container">  
	   <div class="row">
	   
	   <h3>Testimonials</h3>
	   <hr class="mint">
	   
		<div class="testimonials-slider">
		 <ul class="slides">
          <li>
		   <p>The Kafe Template, is a powerful medium of expression and design in which its communications offers an infinite variety of perception, interpretation and execution.
		   <span>John Doe</span></p>
		  </li>
		  <li>
           <p>I m wondering why I never contacted these guys sooner! Seriously, they all have commendable talent in their respective field and knocked my concept out of the ballpark. Thanks for an amazing experience!
		   <span>Segero, NoranicMeds</span></p>
		  </li>
		  <li>
		   <p>I m wondering why I never contacted these guys sooner! Seriously, they all have commendable talent in their respective field and knocked my concept out of the ballpark. Thanks for an amazing experience!
		   <span>Jane Doe</span></p>
		  </li>
         </ul><!-- /ul -->
		</div><!-- /.testimonials-slider -->
	   </div><!-- /.row -->
	  </div><!-- /.container -->
     </div>
     <!-- /section -->  
	 
     <!-- ==============================================
	 Footer Section
	 =============================================== -->
     <div class="footer">
	  <div class="container">
	   <div class="row">
	  
	    <div class="col-md-4 col-sm-6 text-left">
	     <h4 class="heading no-margin">About Us</h4>
		 <hr class="mint">
		 <p>The Kafe. Template is the Ultimate Freelance Marketplace Template for employers and freelancers to connect, collaborate, and get work done.</p>
		 <p>We work hard to build a great product that is beautifully designed, simple to use, user friendly with great focus on user experience and customer service.</p>
	    </div><!-- /.col-md-4 -->
	   
	    <div class="col-md-2 col-sm-6 text-left">
	     <h4 class="heading no-margin">Company</h4>
		 <hr class="mint">
		 <div class ="no-padding">
		  <a href="index.html">Home</a>
		  <a href="about.html">About</a>
		  <a href="jobs.html">Jobs</a>
		  <a href="services.html">Freelancers</a>
		  <a href="how-1.html">How it works</a>
		  <a href="contact.html">Contact</a>		 
		 </div>
	    </div><!-- /.col-md-2 -->	
		
		<div class="col-md-3 col-sm-6 text-left">
	     <h4 class="heading no-margin">Other Services</h4>
		 <hr class="mint">
		 <div class="no-padding">
		  <a href="#">Privacy Policy</a>
		  <a href="#">Terms of Use</a>
		  <a href="faq.html">FAQ</a>		 
		 </div>
	    </div><!-- /.col-md-3 -->	
		
	    <div class="col-md-3 col-sm-6 text-left">
	    <h4 class="heading no-margin">Browse</h4>
		<hr class="mint">
		 <div class="no-padding">
		   <a href="services.html">Top Freelancers this Month of June</a>
		   <a href="services.html">Top Freelancers by Skill</a>
		   <a href="services.html">Top Freelancers in USA</a>
		   <a href="services.html">Top Freelancers in UK</a>
		   <a href="services.html">Top Freelancers in Australia</a>
		   <a href="services.html">Top Freelancers in Kenya</a>		  
		  </div>
		 </div><!-- /.col-md-3 -->
		 
	    </div><!-- /.row -->
	   <div class="clearfix"></div>
	  </div><!-- /.container-->
     </div><!-- /.footer -->			
	 
	 <!-- ==============================================
	 Made Section
	 =============================================== -->
	 <section class="made">
	  <div class="container">
	   <div class="row">
		<div class="col-lg-10 col-lg-offset-1 text-center">
		 <h4 class="made-with-love">The Kafe. Template</h4>
		 <p class="made-with-love-1">Handcrafted with <i class="fa fa-heart"></i> &amp; Much <i class="fa fa-coffee"></i> In Nairobi, Kenya.</p>
		</div>
		<!-- /.col-lg-10 -->
	   </div><!-- /.row -->
	  </div><!-- /.container -->
     </section><!-- /.made -->
	 
	 <!-- ==============================================
	 Bottom Footer Section
	 =============================================== -->	
     <footer id="main-footer" class="main-footer">
	  <div class="container">
	   <div class="row">
	   
	    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		 <ul class="social-links">
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="800"><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="600"><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="400"><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="200"><a href="#link"><i class="fa fa-pinterest fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft"><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
		 </ul>
		</div>
	    <!-- /.col-sm-4 -->
		
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 revealOnScroll" data-animation="bounceIn" data-timeout="200">
		 <div class="img-responsive text-center">
		  <i class="fa fa-coffee logo"></i>		 </div><!-- End image-->
		</div>
		<!-- /.col-sm-4 -->
		
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right revealOnScroll" data-animation="slideInRight" data-timeout="200">
		 <p>&copy;2016 The Kafe. Template by <a href="http://www.themashabrand.com/templates/Kafe/" target="_blank">The Masha Brand</a></p>
		</div>
		<!-- /.col-sm-4 -->
				
	   </div><!-- /.row -->
	  </div><!-- /.container -->
	 </footer><!-- /.footer -->  
	 
     <a id="scrollup">Scroll</a>
	 
     <!-- ==============================================
	 Scripts
	 =============================================== -->
	 
     <!-- jQuery 2.1.4 -->
     <script src="{% static 'js/jQuery-2.1.4.min.js' %}" type="text/javascript"></script>
     <!-- Bootstrap 3.3.6 JS -->
     <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
     <!-- Waypoints JS -->
     <script src="{% static 'js/waypoints.min.js' %}" type="text/javascript"></script>
     <!-- Jquery Animate Numbers -->
     <script src="{% static 'js/jquery.animateNumbers.js' %}" type="text/javascript"></script> 
     <!-- Jquery Flexslider -->
     <script src="{% static 'js/jquery.flexslider-min.js' %}" type="text/javascript"></script>
     <!-- Kafe Flexslider -->
     <script src="{% static 'js/kafe.flexslider.js' %}" type="text/javascript"></script>
     <!-- Jquery Appear -->
	 <script src="{% static 'js/jquery.appear.js' %}" type="text/javascript"></script>
     <!-- Kafe JS -->
     <script src="{% static 'js/kafe.js' %}" type="text/javascript"></script>

</body>
</html>
