{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> 
<!--<![endif]-->
<head>

	    <!-- ==============================================
		Title and Meta Tags
		=============================================== -->
		<meta charset="utf-8">
        <title>The Kafe - Ultimate Freelance Marketplace Template</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Add your business website description here">
        <meta name="keywords" content="Add your, business, website, keywords, here">
        <meta name="author" content="Add your business, website, author here">
		
		<!-- ==============================================
		Favicons
		=============================================== --> 
	    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}">
		<link rel="apple-touch-icon" href="{% static 'img/favicons/apple-touch-icon.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-touch-icon-72x72.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-touch-icon-114x114.png' %}">
		
	    <!-- ==============================================
		CSS
		=============================================== -->
        <!-- Style-->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
		<!-- <?php echo $this->Html->css('style');		?>		 -->
		<!-- ==============================================
		Feauture Detection
		=============================================== -->
		<script src="{% static 'js/modernizr-custom.js' %}"></script>
		<!-- <?php echo $this->Html->script('modernizr-custom'); ?> -->
		<!--[if lt IE 9]>
		 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->		
		
</head>

<body>

     <!-- ==============================================
	 Navbar
	 =============================================== -->
	  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
       <!-- Brand and toggle get grouped for better mobile display -->
	   <a class="navbar-brand"><i class="fa fa-coffee"></i> Assignments Help</a>
       <input type="checkbox" id="toggle" />
	   <label for="toggle" class="toggle"></label>

       <!-- Collect the nav links, forms, and other content for toggling -->
		<ul class="menu">
         <li><a href="/">Home</b></a></li> 
         <li><a href="login">Login</b></a></li> 
         <li><a href="register">Register</b></a></li> 
		 <!-- <li><?= $this->Html->link(__('Login'), ['action' => 'login']) ?></li>	
		 <li><?= $this->Html->link(__('Register'), ['action' => 'register1']) ?></li> !-->
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutor <b class="caret"></b></a> 
		  <ul class="dropdown-menu">
            <li><a href="login">Login</b></a></li> 
            <li><a href="register_tutor">Register</b></a></li>
		   <!-- <li><?= $this->Html->link(__('Login'), ['action' => 'login']) ?></li> -->
		   <!-- <li><?= $this->Html->link(__('Register'), ['action' => 'register2']) ?></li> -->
		  </ul>
		 </li> 
		 <li><a href="/about">About</a></li>
		 <!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><?= $this->Html->link(__('Jobs'), ['action' => 'jobs']) ?></li>
		   <li><?= $this->Html->link(__('Job Post'), ['action' => 'jobpost']) ?></li>
		  </ul>
		 </li>    
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Freelancers <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><?= $this->Html->link(__('Services'), ['action' => 'services']) ?></li>
		   <li><?= $this->Html->link(__('Service Page'), ['action' => 'servicepage']) ?></li>
		   <li><?= $this->Html->link(__('FreeLancer Profile'), ['action' => 'freelancer']) ?></li>
		  </ul>
		 </li> 
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">How it works <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><?= $this->Html->link(__('How #1'), ['action' => 'how-1']) ?></li>
		   <li><?= $this->Html->link(__('How #2'), ['action' => 'how-2']) ?></li>
		  </ul>
		 </li> 
		
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Register <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><?= $this->Html->link(__('Sign Up'), ['action' => 'signup']) ?></li>
		   <li><?= $this->Html->link(__('Register'), ['action' => 'register']) ?></li>
		  </ul>
		 </li> 
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		    <li><?= $this->Html->link(__('Contact'), ['action' => 'contact']) ?></li>
			<li><?= $this->Html->link(__('Blog'), ['action' => 'blog']) ?></li>
			<li><?= $this->Html->link(__('Blog Page'), ['action' => 'blogpage']) ?></li>
			<li><?= $this->Html->link(__('FAQ'), ['action' => 'faq']) ?></li>
		  </ul>
		 </li> 	 -->
		</ul><!-- /.ul.menu -->
      </div><!-- /.container -->
     </nav><!-- /.nav -->
	 
     <!-- ==============================================
	 Header
	 =============================================== -->	 
	 <header class="header-login">
      <div class="container">
	   <div class="content">
	    <div class="row">
	     <h1 class="revealOnScroll" data-animation="fadeInDown"><i class="fa fa-coffee"></i> Login</h1>
		 <p>Log in and get to work.</p>
        </div><!-- /.row -->
       </div><!-- /.content -->
	  </div><!-- /.container -->
     </header><!-- /header -->
	 
     <!-- ==============================================
     Banner Login Section
     =============================================== -->
	 <section class="banner-login">
	  <div class="container">
	   <div class="row">
	   
	    <main class="main main-signup col-lg-12">
	     <div class="col-lg-6 col-lg-offset-3 text-center">
		  <div class="form-sign">
		    <form method="post"> 
		   <!-- <?= $this->Form->create() ?> -->
		    <div class="form-head">
			 <h3>Login</h3>
			</div><!-- /.form-head -->
            <div class="form-body">
			 {% csrf_token %}
			 <div class="form-row">
			  <div class="form-controls">
			    <input name="username" placeholder="Username" id="id_username" class="field" required type="text"> 
			   <!-- <?php echo $this->Form->input('username',array('type' => 'text','placeholder' => 'Username','class' => 'field')); ?> -->
			  </div><!-- /.form-controls -->
			 </div><!-- /.form-row -->

			 <div class="form-row">
			  <div class="form-controls">
			    <input name="password" placeholder="Password" id="id_password" class="field" required type="password"> 
			   <!-- <?php echo $this->Form->input('password',array('type' => 'password','placeholder' => 'Password','class' => 'field')); ?> -->
			  </div><!-- /.form-controls -->
			 </div><!-- /.form-row -->
		    </div><!-- /.form-body -->

			<div class="form-foot">
			 <div class="form-actions">					
			   <input value="Login" class="form-btn" type="submit"> 
			  <!-- <?php echo $this->Form->button('Submit',array('type' => 'submit','class' => 'form-btn','action' => 'login')); ?> -->
			 </div><!-- /.form-actions -->
             <div class="form-head">
			  <a href="#" class="more-link">Forgot Password?</a>
			 </div>
			</div><!-- /.form-foot -->
		    </form> 
		   <!-- <?= $this->Form->end() ?> -->
		   
		  </div><!-- /.form-sign -->
	     </div><!-- /.col-lg-6 -->
        </main>
		
	   </div><!-- /.row -->
	  </div><!-- /.container -->
     </section><!-- /section -->
	 
     <!-- ==============================================
	 Footer Section
	 =============================================== -->
     <div class="footer">
	  <div class="container">
	   <div class="row">
	  
	    <div class="col-md-4 col-sm-6 text-left">
	     <h4 class="heading no-margin">About Us</h4>
		 <hr class="mint">
		 <p>The Kafe. Template is the Ultimate Freelance Marketplace Template for employers and freelancers to connect, collaborate, and get work done.</p>
		 <p>We work hard to build a great product that is beautifully designed, simple to use, user friendly with great focus on user experience and customer service.</p>
	    </div><!-- /.col-md-4 -->
	   
	    <div class="col-md-2 col-sm-6 text-left">
	     <h4 class="heading no-margin">Company</h4>
		 <hr class="mint">
		 <div class ="no-padding">
		  <a href="index.html">Home</a>
		  <a href="about.html">About</a>
		  <a href="jobs.html">Jobs</a>
		  <a href="services.html">Freelancers</a>
		  <a href="how-1.html">How it works</a>
		  <a href="contact.html">Contact</a>		 
		 </div>
	    </div><!-- /.col-md-2 -->	
		
		<div class="col-md-3 col-sm-6 text-left">
	     <h4 class="heading no-margin">Other Services</h4>
		 <hr class="mint">
		 <div class="no-padding">
		  <a href="#">Privacy Policy</a>
		  <a href="#">Terms of Use</a>
		  <a href="faq.html">FAQ</a>		 
		 </div>
	    </div><!-- /.col-md-3 -->	
		
	    <div class="col-md-3 col-sm-6 text-left">
	    <h4 class="heading no-margin">Browse</h4>
		<hr class="mint">
		 <div class="no-padding">
		   <a href="services.html">Top Freelancers this Month of June</a>
		   <a href="services.html">Top Freelancers by Skill</a>
		   <a href="services.html">Top Freelancers in USA</a>
		   <a href="services.html">Top Freelancers in UK</a>
		   <a href="services.html">Top Freelancers in Australia</a>
		   <a href="services.html">Top Freelancers in Kenya</a>		  
		  </div>
		 </div><!-- /.col-md-3 -->
		 
	    </div><!-- /.row -->
	   <div class="clearfix"></div>
	  </div><!-- /.container-->
     </div><!-- /.footer -->			
	 
	 <!-- ==============================================
	 Made Section
	 =============================================== -->
	 <section class="made">
	  <div class="container">
	   <div class="row">
		<div class="col-lg-10 col-lg-offset-1 text-center">
		 <h4 class="made-with-love">The Kafe. Template</h4>
		 <p class="made-with-love-1">Handcrafted with <i class="fa fa-heart"></i> &amp; Much <i class="fa fa-coffee"></i> In Nairobi, Kenya.</p>
		</div>
		<!-- /.col-lg-10 -->
	   </div><!-- /.row -->
	  </div><!-- /.container -->
     </section><!-- /.made -->
	 
	 <!-- ==============================================
	 Bottom Footer Section
	 =============================================== -->	
     <footer id="main-footer" class="main-footer">
	  <div class="container">
	   <div class="row">
	   
	    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		 <ul class="social-links">
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="800"><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="600"><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="400"><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="200"><a href="#link"><i class="fa fa-pinterest fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft"><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
		 </ul>
		</div>
	    <!-- /.col-sm-4 -->
		
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 revealOnScroll" data-animation="bounceIn" data-timeout="200">
		 <div class="img-responsive text-center">
		  <i class="fa fa-coffee logo"></i>		 </div><!-- End image-->
		</div>
		<!-- /.col-sm-4 -->
		
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right revealOnScroll" data-animation="slideInRight" data-timeout="200">
		 <p>&copy;2016 The Kafe. Template by <a href="http://www.themashabrand.com/templates/Kafe/" target="_blank">The Masha Brand</a></p>
		</div>
		<!-- /.col-sm-4 -->
				
	   </div><!-- /.row -->
	  </div><!-- /.container -->
	 </footer><!-- /.footer -->  
	 
     <a id="scrollup">Scroll</a>
	 
     <!-- ==============================================
	 Scripts
	 =============================================== -->
	 
     <!-- jQuery 2.1.4 -->
      <script src="{% static 'js/jQuery-2.1.4.min.js' %}"></script> 
     <!-- Bootstrap 3.3.6 JS -->
      <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script> 
     <!-- Waypoints JS -->
      <script src="{% static 'js/waypoints.min.js' %}" type="text/javascript"></script> 
     <!-- Kafe JS -->
      <script src="{% static 'js/kafe.js' %}" type="text/javascript"></script> 
	<!-- <?php $this->Html->script(['jQuery-2.1.4.min','bootstrap.min','waypoints.min','Kafe']); ?> -->
</body>
</html>
